.jumbotron{
  background-color:rgba(233,233,233,.8);
}

.jumbotron-heading{
  text-align: center;
  font-weight: 700;
}

.inputText{
 
text-align: center;
}

.inputText input{
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;

}

.inputText button{
  outline: none;
  padding: 10px;
  border-radius: 10px;
  background-color: #ddd;
  border: 1px solid #ddd;
  color: #fff;
}